In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\yzdn\Desktop\Data Science\Intern Projects\Retail Analysic\Raw Data\returns.csv")

In [3]:
df.head()

  return_id order_id return_date     return_reason
0     R0000   O02237  2024-03-05         Defective
1     R0001   O01700  2025-03-18         Defective
2     R0002   O01451  2025-02-18     Late Delivery
3     R0003   O02759  2023-10-26         Defective
4     R0004   O00415  2024-08-06  No Longer Needed

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   return_id      204 non-null    object
 1   order_id       204 non-null    object
 2   return_date    204 non-null    object
 3   return_reason  204 non-null    object
dtypes: object(4)
memory usage: 6.5+ KB

In [5]:
str_cols = ["return_id","order_id","return_reason"]
for col in str_cols:
    df[col] = df[col].astype(str).str.strip()

In [6]:
df.duplicated().sum()

np.int64(4)

In [7]:
df = df.drop_duplicates()

In [8]:
df["return_reason"] = df["return_reason"].str.strip().str.lower()

In [9]:
for col in df.columns:
    df[col] = df[col].astype(str)

    df[col] = df[col].str.strip().replace(r'\s+', ' ', regex=True)

    df[col] = pd.to_numeric(df[col], errors='ignore')

C:\Users\yzdn\AppData\Local\Temp\ipykernel_7972\945736489.py:6: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\yzdn\AppData\Local\Temp\ipykernel_7972\945736489.py:6: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\yzdn\AppData\Local\Temp\ipykernel_7972\945736489.py:6: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')
C:\Users\yzdn\AppData\Local\Temp\ipykernel_7972\945736489.py:6: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_numeric(df[col], errors='ignore')

In [10]:
df["return_date"] = pd.to_datetime(df["return_date"], errors="coerce")
df["return_date"] = df["return_date"].dt.normalize()

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   return_id      200 non-null    object
 1   order_id       200 non-null    object
 2   return_date    200 non-null    datetime64[ns]
 3   return_reason  200 non-null    object
dtypes: datetime64[ns](1), object(3)
memory usage: 7.8+ KB

In [12]:
df.head()

  return_id order_id return_date     return_reason
0     R0000   O02237  2024-03-05         defective
1     R0001   O01700  2025-03-18         defective
2     R0002   O01451  2025-02-18     late delivery
3     R0003   O02759  2023-10-26         defective
4     R0004   O00415  2024-08-06  no longer needed

In [13]:
df["return_reason"].unique()

array(['defective', 'late delivery', 'no longer needed', 'wrong item'],
      dtype=object)

In [14]:
df["return_reason"].value_counts()

return_reason
defective           63
wrong item          53
late delivery       43
no longer needed    41
Name: count, dtype: int64

In [15]:
#Create "reason_category" column
def classify_reason(reason):
    reason = str(reason).strip().lower()
    if reason == "defective":
        return "product issue"
    elif reason == "late delivery":
        return "logistics issue"
    elif reason == "no longer needed":
        return "customer decision"
    elif reason == "wrong item":
        return "shipping issue"
    else:
        return "other"

In [16]:
df["reason_category"] = df["return_reason"].apply(classify_reason)

In [17]:
df.to_csv(r"C:\Users\yzdn\Desktop\Data Science\Intern Projects\Retail Analysic\Cleaned Data\Cleaned Returns Data.csv", index=False, encoding='utf-8')